.grid{
    display: grid;
    grid-template-columns:50px 300px ;
    grid-template-rows: 200px 80;
    
}

.grid .item{
    background-color: aqua;
    padding: 20px 0;
    border: 2px black solid;
}


.grid2{
    display: inline-block;

}

.grid2 .item{
    background-color: blueviolet;
    padding: 20px 0

}


.grid3{
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 2fr 1fr;
    border: 2px red solid;

}

.grid3 .item{
    background-color: rgb(52, 43, 226);
    padding: 20px 0

}


.grid4{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: bisque;
    border: 2px red solid;
    column-gap: 20px;
    row-gap: 20px;
}   

.grid4 .item{
    background-color: rgb(43, 226, 67);
    padding: 20px 0

}

.grid5{
    display: grid;
    background-color: rgb(223, 163, 90);
    gap: 10px;
    padding: 1opx;
    border: 2px black solid;
    grid-template-areas: 'header header header header'
                        'menu main main aside'
                         'menu footer footer footer';

}

.grid5 > div{

    background-color: rgb(255, 0, 140);
    text-align: center;
    padding: 20px 0px;
    font-size: 30px;
} 

.grid5 .item1{
grid-area: header;
}

.grid5 .item2{
grid-area: menu;
}

.grid5 .item3{
grid-area: main;
}

.grid5 .item4{
grid-area: aside;
}

.grid5 .item5{
grid-area: footer;
}

