*{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #D8C4B6;
}

/* font-family: 'Gudea', sans-serif; */
/* font-family: 'Lobster', cursive; */



h1{
    font-family: 'Gudea';
    font-size: var(--tamaño-titulo);
}

:root{
    --color-titulos: ##213555;
    --fuente-titulo: 'Lobster', cursive;
    --tamaño-titulo: 50p;
    --color-sub-titulos: #4F709C;
    --fuente-sub-titulo: 'Lobster', cursive;
    --tamaño-sub-titulo: 30p;
    --color-texto: #F5EFE7;
    --fuente-texto: 'Gudea', cursive;
    --tamaño-exto: 15p;
}

.title{
    font: var(--color-titulos);
    font-family: var(--fuente-tituo);
    font-size: var(--tamaño-titulo);
}

