body{
  margin: 3px !important;
}

.RedesSocial{
z-index: 999999;
border: 2px solid rgba(37, 34, 34, 0.389);
background-color: rgba(37, 34, 34, 0.389);
font-size: 30px;
}

.RedesSocial ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.RedesSocial ul li{
  padding-top: 4PX;
  padding-bottom: 4PX;
  margin: 5PX;
}

.carousel-caption {
    color: #198754 !important;
}

.carousel-indicators [data-bs-target] {
    background-color: #198754 !important;
}

.carousel-control-prev [data-bs-target] {
    background-color: #198754!important;
}

main{
    display: flex;
}

#row1{
  justify-content: space-around;
}

#row2{
  justify-content: space-evenly;
}

.cuadri{
    width: 100%;
    margin: 10px;
}

.carousel-caption {
  position: relative !important;
  right:0 !important;
  bottom: 0 !important;
  left: 0 !important;
  padding-top: 0 !important;
}

h3{
    color: yellowgreen !important;
    font-size:30px !important;
}

.redes{
    display: flex;
    justify-content: space-around;
}

.footer {
    background-color: #212529;
    height: 60px;
    padding: 10px 20px;
  }
  
  .footer p {
    margin: 0;
    line-height: 40px;
    color: #484848;
  }
  
  .footer .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer .social-icons a {
    color: #fff;
    font-size: 20px;
  }
  